body {
  /*padding-top: 70px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  margin: 0 auto;
  width: 800px;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #eee;
}

.failure_detail {
  display: none;
}